@import "globals";

.container {
  margin: 0;
  background-image: url("./static/mongols1.jpeg");
  background-size: cover;
  background-size: auto 100%;
  min-height: 100vh;
  background-attachment: fixed;
}

html {
  width: 100%;
  height: 100%;
}

.flex-container {
  padding: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  // background-image: linear-gradient(135deg, #ffd26f 10%, #3677ff 100%);
  padding: 8px;
  width: 200px;
  margin: 10px;
  height: 400px;
  margin-top: 50px;
  line-height: 40px;
  text-align: center;
  color: white;
}

.freeze {
  background: #182026;
  opacity: 0.6;
}

.freeze:hover {
  background: #182026;
}

.gradient {
  position: relative;
  background: #4264fb;
  z-index: 1;
}

.gradient::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(135deg, #eead92 10%, #6018dc 100%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.gradient:hover::before {
  opacity: 1;
}

.slider-container {
  display: flex;
  background: #182026;
  justify-content: center;
}

.centered-slider {
  position: relative;
}

.map-hover {
  position: absolute;
  width: 70%;
  height: 5%;
  left: 30%;
  margin-left: -50px;
  top: 85%;
  // background: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 4px 20px;
  color: #fff;
  padding-bottom: 70px;
  border-radius: 5px;
}

.insights-card {
  position: absolute;
  width: 26%;
  left: 2%;
  margin-left: -50px;
  top: 9%;
  bottom: 0;
  border-radius: 10px;
}

@media screen and (max-width: 715px) {
  .insights-card {
    display: none;
  }
}

.insights-card-item {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.centered-title {
  position: relative;
  text-align: center;
  font-size: 16px;
  margin: 20px;
}

.title-container {
  position: fixed;
  z-index: 9999;
  width: 100%;
  left: 0;
  top: 0;
  color: #fff;
  background: #4264fb;
  box-shadow: 1px 2px 5px #333;
}

.legends-card {
  position: absolute;
  width: 200px;
  right: 4%;
  margin-left: -50px;
  bottom: 20%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.legends-items {
  display: flex;
  flex-wrap: wrap;
  padding: 8px !important;
  flex-direction: column;
}

.color-legend {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
  opacity: 0.9;
}

.legend-title {
  font-size: 9px;
  line-height: 18px;
}

.legend-title > p {
  margin-bottom: 0px;
}

.l-item {
  margin: 4px;
  display: flex;
  justify-content: flex-start;
}

.event-title {
  display: block;
  font-size: 13px;
}

.event-head {
  margin: 4px;
  display: flex;
  left: 10px;
  position: relative;
  font-size: 13px;
  justify-content: space-between;
}

.event-item {
  padding: 8px;
  position: relative;
  left: 10px;
  border-bottom: 1px solid rgb(192, 192, 192);
  cursor: pointer;
}

.event-item:hover {
  background: rgb(231, 231, 231);
}

.e-title {
  margin-top: 8px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.ut {
  color: #137cbd;
  z-index: 99999;
  display: block;
  text-decoration: underline;
}

.login-card {
  min-height: 200px;
  padding: 8px;
  min-width: 250px;
  margin: 10px;
  height: auto;
  margin-top: 50px;
  line-height: 40px;
}

.progress-bar {
    position: relative;
    left: 30%;
    right: 30%;
    margin-top: 20%;
    max-width: 40%;
    border-radius: 40px;
    background: rgba(92, 112, 128, 0.2);
    width: 100%;
    height: 8px;
    overflow: hidden;
}